/* main section */
.navbar {
    min-height: 4rem;
    background-color: rgba(0, 0, 0, 0.656);
}

.navbar-brand {
    margin-right: 4rem;
}

.navbar a {
    font-size: 0.9rem;
}

#header {
    position: relative;
    background-image: url("/assets/main-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-heading {
    padding-top: 25vh;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.desc-heading {
    margin-top: 1.5rem;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.button-main {
    margin-top: 2rem;
}

.button-main button {
    padding: 10px 50px;
    font-size: 1rem;
}

.scroll-main {
    position: absolute;
    top: 85vh;
    left: 40%;
    right: 40%;
}

/* about-gallery section */
#gallery {
    position: relative;
    background-image: url("/assets/the-games-bg.jpg");
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery-wrapper {
    padding-top: 8vh;
}

/* override bootstrap w-100 */
.w-100 {
    width: 100% !important;
    height: 24rem;
}

/* features */
#features {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/features.jpg");
    position: relative;
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.features-heading {
    margin: 8rem 0px 3rem 0px;
}

.games-list {
    list-style: none;
    position: relative;
    padding-left: 50px;
}


.games-list:after{
    content: '';
    position: absolute;
    background: rgba(252, 252, 252, 0.966);
    width: 2px;
    top: 0;
    height: calc(100% - 65px);
    left: 26px;
    z-index: 1;
}

.games-item {
    margin-bottom: 20px;
}

.games-item.active:before {
    content: '';
    position: absolute;
    background-image: url('../assets/ellipse.svg');
    width: 16px;
    height: 16px;
    left: 18px;
}

.games-item.inactive:before {
    content: '';
    background-image: url('../assets/ellipse-outline.svg');
    position: absolute;
    width: 16px;
    height: 17px;
    left: 18px;
    z-index: 9;
}

/* requirements */
#requirements {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)) ,url('../assets/requirements.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* top score */
#top-score {
    background-image: url('../assets/top-score-bg.png');
    background-size: cover;
    height: 100vh;
}

.top-score-left{
    margin-top: 40vh;
}

.top-score-right {
    margin-top: 10vh;
}

.avatar{
    border-radius: 50%;
    margin-right: 10px;
    height: 50px;
}

.card-custom {
    width: 80%;
    margin-bottom: 2rem;
}

.third-level {
    margin-left: 3rem;
}

/* newsletter */
#newsletter {
    background-image: url('../assets/newsletter.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.newsletter-container{
    height: 70vh;
}

.newsletter-text {
    margin-top: 5rem;
}

.newsletter-text > form > div > label {
    font-size: 0.8rem;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 0.7rem;
}

.footer-linebreak{
    background-color: white;
    height: 1px;
}

.footer p {
    font-size: 0.7rem;
}

@media (max-width: 991px) {
    .newsletter-container div img{
        margin-top: 4rem;
    }
}


@media (max-width: 768px) {
    .w-100 {
        height: 18rem;
    }

    #features {
        background-position: 0% ;
    }

    .top-score-left{
        margin-top: 1rem;
    }

    .top-score-right {
        margin-top: 1.5rem;
    }

    .card-custom {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .third-level {
        margin-left: 0;
    }

    .newsletter-container img{
        display: none;
    }

    .newsletter-text {
        margin-top: 0px;
    }

    .footer {
        margin-top: 0px !important;
    }

    .footer a {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .main-heading {
        font-size: 2.5rem;
        padding-top: 17vh;
    }

    .w-100 {
        height: 20rem;
    }

    #features {
        height: 70vh;
        background-position: 0% ;
    }

    .top-score-right {
        margin-top: 3rem;
    }
}
