<div class="row">
    <div class="col-md-6 offset-md-6">
        <div class="features-heading">
            <h5 class="text-white mb-0">What's so special ?</h5>
            <h1 class="text-white">FEATURES</h1>
        </div>
        <div class="games">
            <ul class="games-list">
                <li class="games-item active">
                    <h5 class="text-warning">TRADITIONAL GAME</h5>
                    <p class="text-white">If you miss your childhood, we provide many traditional game here</p>
                </li>
                <li class="games-item inactive">
                    <h5 class="text-warning">GAME SUIT</h5>
                </li>
                <li class="games-item inactive">
                    <h5 class="text-warning">TBD</h5>
                </li>
            </ul>
        </div>
    </div>
</div>