<div class="row newsletter-container">
    <div class="col-md-4 text-center">
        <img class="img-fluid h-75" src="/assets/skull.png" alt="skull" >
    </div>
    <div class="col-md-8 newsletter-text">
        <p>Want to stay in touch?</p>
        <h1>NEWSLETTER SUBSCRIBE</h1>
        <p>
            In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don't spam.
        </p>
        <form action="" class="d-flex">
            <div class="form-group bg-dark p-2 m-0 rounded w-50">
                <label for="inputEmail" class="m-0 text-warning">Your email address</label>
                <input type="email" id="inputEmail" class="form-control form-control-sm" placeholder="Your email address" value="youremail@binar.co.id" disabled>
            </div>
            <button type="submit" class="btn btn-warning w-50 ml-2">Subscribe now</button>
        </form>
    </div>
</div>

<!-- footer -->
<div class="row footer  mt-5">
    <div class="col-md-6 offset-md-2">
        <div class="d-flex justify-content-between">
            <a href="#">MAIN</a>
            <a href="#">ABOUT</a>
            <a href="#">GAME FEATURES</a>
            <a href="#">SYSTEM REQUIREMENTS</a>
            <a href="#">QUOTES</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-flex justify-content-around">
            <a href="http://www.facebook.com"><img src="/assets/facebook.svg" alt="facebook"></a>
            <a href="http://www.twitter.com"><img src="/assets/twitter.svg" alt="twitter"></a>
            <a href="http://www.vector.com"><img src="/assets/vector.svg" alt="vector"></a>
            <a href="http://www.twitch.com"><img src="/assets/twitch.svg" alt="twitch"></a>
        </div>
    </div>
    <div class="col-md-12">
        <hr class="footer-linebreak">
    </div>
    <div class="col-md-12">
        <div class="d-flex justify-content-between">
            <p class="text-muted">&copy; 2018 Your Games, Inc. All Rights Reserved</p>
            <p class="text-white">Privacy Policy | Terms of Services | Code of Conduct </p>
        </div>
    </div>
</div>