<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" href="#"
                    >Home <span class="sr-only">(current)</span></a
                >
                <a class="nav-item nav-link" href="#">Work</a>
                <a class="nav-item nav-link" href="#">Contact</a>
                <a class="nav-item nav-link" href="#">About Me</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Sign Up</a>
                <a class="nav-item nav-link" href="#">Login</a>
            </div>
        </div>
    </div>
</nav>
