<div class="row">
    <div class="col-md-5 text-white top-score-left">
        <h1>TOP SCORE</h1>
        <p>This top score from various games provided on this platform</p>
        <button type="button" class="btn btn-warning px-5 font-weight-bold">see more</button>
    </div>
    <div class="col-md-7 top-score-right">
        <div class="card bg-dark float-right card-custom">
            <div class="card-body p-3">
              <div class="d-flex justify-content-between" mb-3">
                <div>
                    <img class="avatar" src="/assets/evan-lahti.jpg" alt="evan-lahti.jpg">
                </div>
                <div class="flex-grow-1">
                    <h5 class="card-title m-1 text-warning">Evan Lahti</h5>
                    <h6 class="card-subtitle mb-2 text-muted pl-1">PC Gamer</h6>
                </div>
                <div>
                    <img src="/assets/twitter-card.png"></img>
                </div>
              </div>
              <p class="card-text text-white m-0 mt-1">"One of my gaming highlights of the year."</p>
              <p class="card-text">
                <small class="text-muted">June 18, 2021</small>
              </p>
            </div>
        </div>

        <div class="card bg-dark card-custom">
            <div class="card-body p-3">
              <div class="d-flex justify-content-between" mb-3">
                <div>
                    <img class="avatar" src="/assets/jada-griffin.jpg" alt="jada-griffin.jpg">
                </div>
                <div class="flex-grow-1">
                    <h5 class="card-title m-1 text-warning">Jada Griffin</h5>
                    <h6 class="card-subtitle mb-2 text-muted pl-1">Nerdreactor</h6>
                </div>
                <div>
                    <img src="/assets/twitter-card.png"></img>
                </div>
              </div>
              <p class="card-text text-white m-0 mt-1">“The next big thing in the world of streaming and survival games.”</p>
              <p class="card-text">
                <small class="text-muted">July 10, 2021</small>
              </p>
            </div>
        </div>

        <div class="card bg-dark card-custom third-level">
            <div class="card-body p-3">
              <div class="d-flex justify-content-between" mb-3">
                <div>
                    <img class="avatar" src="/assets/aaron-williams.jpg" alt="aaron-williams.jpg">
                </div>
                <div class="flex-grow-1">
                    <h5 class="card-title m-1 text-warning">Aaron Williams</h5>
                    <h6 class="card-subtitle mb-2 text-muted pl-1">Uproxx</h6>
                </div>
                <div>
                    <img src="/assets/twitter-card.png"></img>
                </div>
              </div>
              <p class="card-text text-white m-0 mt-1">“Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous.”</p>
              <p class="card-text">
                <small class="text-muted">December 24, 2018</small>
              </p>
            </div>
        </div>
    </div>
</div>
